
body{
    background-color: #3392FF;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.main{
    background-color: #ffff;
    width: 250px;
    height: 400px;
    border-radius: 5px;
}
.image{
    width: 247px;
    height: 355px;
border: hidden;
border-radius: 6px;
padding-left: 2px;
padding-top: 2PX;
}
.nav{
    display: flex;
       justify-content: space-around;
       flex-direction:row;
padding-top: 4px;
align-self: center;

}
